Version 1.1.0

# Mean encodings

In this programming assignment you will be working with `1C` dataset from the final competition. You are asked to encode `item_id` in 4 different ways:

    1) Via KFold scheme;  
    2) Via Leave-one-out scheme;
    3) Via smoothing scheme;
    4) Via expanding mean scheme.

**You will need to submit** the correlation coefficient between resulting encoding and target variable up to 4 decimal places.

### General tips

* Fill NANs in the encoding with `0.3343`.
* Some encoding schemes depend on sorting order, so in order to avoid confusion, please use the following code snippet to construct the data frame. This snippet also implements mean encoding without regularization.

In [1]:
import pandas as pd
import numpy as np
from itertools import product
from grader import Grader

# Read data

In [5]:
sales = pd.read_csv('../readonly/final_project_data/sales_train.csv.gz')
print(sales)

               date  date_block_num  shop_id  item_id  item_price  \
0        02.01.2013               0       59    22154      999.00
1        03.01.2013               0       25     2552      899.00
2        05.01.2013               0       25     2552      899.00
3        06.01.2013               0       25     2554     1709.05
4        15.01.2013               0       25     2555     1099.00
5        10.01.2013               0       25     2564      349.00
6        02.01.2013               0       25     2565      549.00
7        04.01.2013               0       25     2572      239.00
8        11.01.2013               0       25     2572      299.00
9        03.01.2013               0       25     2573      299.00
10       03.01.2013               0       25     2574      399.00
11       05.01.2013               0       25     2574      399.00
12       07.01.2013               0       25     2574      399.00
13       08.01.2013               0       25     2574      399.00
14       10.01.2013               0       25     2574      399.00
15       11.01.2013               0       25     2574      399.00
16       13.01.2013               0       25     2574      399.00
17       16.01.2013               0       25     2574      399.00
18       26.01.2013               0       25     2574      399.00
19       27.01.2013               0       25     2574      399.00
20       09.01.2013               0       25     2593      279.00
21       16.01.2013               0       25     2604      299.00
22       27.01.2013               0       25     2604      299.00
23       27.01.2013               0       25     2607      279.00
24       29.01.2013               0       25     2607      279.00
25       27.01.2013               0       25     2609     1699.00
26       06.01.2013               0       25     2548     1708.95
27       26.01.2013               0       25     2611      299.00
28       02.01.2013               0       25     2546      299.00
29       06.01.2013               0       25     2515     1649.00
...             ...             ...      ...      ...         ...
2935819  16.10.2015              33       25     7789     1799.00
2935820  22.10.2015              33       25     7790      799.00
2935821  22.10.2015              33       25     7791      899.50
2935822  17.10.2015              33       25     7632     2310.00
2935823  26.10.2015              33       25     7487      299.00
2935824  14.10.2015              33       25     7029      999.00
2935825  23.10.2015              33       25     7460      299.00
2935826  04.10.2015              33       25     7233      599.00
2935827  18.10.2015              33       25     7308      349.00
2935828  21.10.2015              33       25     7233      479.00
2935829  03.10.2015              33       25     7233      599.00
2935830  11.10.2015              33       25     7286      299.00
2935831  22.10.2015              33       25     7187      299.00
2935832  26.10.2015              33       25     7484      299.00
2935833  22.10.2015              33       25     7308      349.00
2935834  29.10.2015              33       25     7235      298.00
2935835  18.10.2015              33       25     7327      349.00
2935836  22.10.2015              33       25     7327      349.00
2935837  24.10.2015              33       25     7328      249.00
2935838  17.10.2015              33       25     7338      349.00
2935839  24.10.2015              33       25     7315      399.00
2935840  31.10.2015              33       25     7409      299.00
2935841  11.10.2015              33       25     7393      349.00
2935842  10.10.2015              33       25     7384      749.00
2935843  09.10.2015              33       25     7409      299.00
2935844  10.10.2015              33       25     7409      299.00
2935845  09.10.2015              33       25     7460      299.00
2935846  14.10.2015              33       25     7459      349.00
2935847  22.10.2015              33       25     7440      299.00
2935848  03.10.2015              33       25     7460      299.00

         item_cnt_day
0                 1.0
1                 1.0
2                -1.0
3                 1.0
4                 1.0
5                 1.0
6                 1.0
7                 1.0
8                 1.0
9                 3.0
10                2.0
11                1.0
12                1.0
13                2.0
14                1.0
15                2.0
16                1.0
17                1.0
18                1.0
19                1.0
20                1.0
21                1.0
22                1.0
23                1.0
24                1.0
25                1.0
26                1.0
27                1.0
28                1.0
29                1.0
...               ...
2935819           1.0
2935820           1.0
2935821           1.0
2935822           1.0
2935823           1.0
2935824           1.0
2935825           1.0
2935826           1.0
2935827           1.0
2935828           1.0
2935829           1.0
2935830           1.0
2935831           1.0
2935832           1.0
2935833           1.0
2935834           1.0
2935835           1.0
2935836           1.0
2935837           1.0
2935838           1.0
2935839           1.0
2935840           1.0
2935841           1.0
2935842           1.0
2935843           1.0
2935844           1.0
2935845           1.0
2935846           1.0
2935847           1.0
2935848           1.0

[2935849 rows x 6 columns]

# Aggregate data

Since the competition task is to make a monthly prediction, we need to aggregate the data to montly level before doing any encodings. The following code-cell serves just that purpose.

In [4]:
index_cols = ['shop_id', 'item_id', 'date_block_num']

# For every month we create a grid from all shops/items combinations from that month
grid = [] 
for block_num in sales['date_block_num'].unique():
    cur_shops = sales[sales['date_block_num']==block_num]['shop_id'].unique()
    cur_items = sales[sales['date_block_num']==block_num]['item_id'].unique()
    grid.append(np.array(list(product(*[cur_shops, cur_items, [block_num]])),dtype='int32'))

#turn the grid into pandas dataframe
grid = pd.DataFrame(np.vstack(grid), columns = index_cols,dtype=np.int32)

#get aggregated values for (shop_id, item_id, month)
gb = sales.groupby(index_cols,as_index=False).agg({'item_cnt_day':{'target':'sum'}})

#fix column names
gb.columns = [col[0] if col[-1]=='' else col[-1] for col in gb.columns.values]
#join aggregated data to the grid
all_data = pd.merge(grid,gb,how='left',on=index_cols).fillna(0)
#sort the data
all_data.sort_values(['date_block_num','shop_id','item_id'],inplace=True)
print(all_data)

/opt/conda/lib/python3.6/site-packages/pandas/core/groupby.py:4036: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

          shop_id  item_id  date_block_num  target
139255          0       19               0     0.0
141495          0       27               0     0.0
144968          0       28               0     0.0
142661          0       29               0     0.0
138947          0       32               0     6.0
138948          0       33               0     3.0
138949          0       34               0     0.0
139247          0       35               0     1.0
142672          0       40               0     0.0
142065          0       41               0     0.0
139208          0       42               0     0.0
142670          0       43               0     1.0
139207          0       44               0     0.0
138950          0       45               0     0.0
143764          0       46               0     0.0
141505          0       47               0     0.0
139199          0       48               0     0.0
138952          0       49               0     0.0
139176          0       50               0     0.0
138951          0       51               0     2.0
139177          0       52               0     0.0
139178          0       53               0     0.0
139179          0       54               0     0.0
143769          0       55               0     0.0
142671          0       56               0     0.0
144539          0       57               0     0.0
139180          0       59               0     0.0
138953          0       60               0     0.0
144265          0       61               0     1.0
141744          0       63               0     0.0
...           ...      ...             ...     ...
10772600       59    22020              33     0.0
10770510       59    22050              33     0.0
10769953       59    22051              33     0.0
10769955       59    22058              33     0.0
10768833       59    22059              33     0.0
10769961       59    22060              33     0.0
10770625       59    22071              33     0.0
10769956       59    22072              33     0.0
10771598       59    22076              33     0.0
10767854       59    22087              33     6.0
10768086       59    22088              33     2.0
10768087       59    22091              33     1.0
10768088       59    22092              33     0.0
10767847       59    22100              33     1.0
10769954       59    22101              33     0.0
10767848       59    22102              33     1.0
10767849       59    22104              33     0.0
10768089       59    22105              33     0.0
10770726       59    22106              33     0.0
10772844       59    22111              33     0.0
10771530       59    22118              33     0.0
10768090       59    22139              33     0.0
10769958       59    22145              33     0.0
10769959       59    22154              33     0.0
10769704       59    22158              33     0.0
10768834       59    22162              33     0.0
10769024       59    22163              33     0.0
10769690       59    22164              33     0.0
10771216       59    22166              33     0.0
10770511       59    22167              33     0.0

[10913850 rows x 4 columns]

# Mean encodings without regularization

After we did the techinical work, we are ready to actually *mean encode* the desired `item_id` variable. 

Here are two ways to implement mean encoding features *without* any regularization. You can use this code as a starting point to implement regularized techniques.

#### Method 1

In [6]:
# Calculate a mapping: {item_id: target_mean}
item_id_target_mean = all_data.groupby('item_id').target.mean()

# In our non-regularized case we just *map* the computed means to the `item_id`'s
all_data['item_target_enc'] = all_data['item_id'].map(item_id_target_mean)

# Fill NaNs
all_data['item_target_enc'].fillna(0.3343, inplace=True) 

# Print correlation
encoded_feature = all_data['item_target_enc'].values
print(np.corrcoef(all_data['target'].values, encoded_feature)[0][1])

0.483038698862

#### Method 2

In [7]:
'''
     Differently to `.target.mean()` function `transform` 
   will return a dataframe with an index like in `all_data`.
   Basically this single line of code is equivalent to the first two lines from of Method 1.
'''
all_data['item_target_enc'] = all_data.groupby('item_id')['target'].transform('mean')

# Fill NaNs
all_data['item_target_enc'].fillna(0.3343, inplace=True) 

# Print correlation
encoded_feature = all_data['item_target_enc'].values
print(np.corrcoef(all_data['target'].values, encoded_feature)[0][1])

0.483038698862

See the printed value? It is the correlation coefficient between the target variable and your new encoded feature. You need to **compute correlation coefficient** between the encodings, that you will implement and **submit those to coursera**.

In [8]:
grader = Grader()

# 1. KFold scheme

Explained starting at 41 sec of [Regularization video](https://www.coursera.org/learn/competitive-data-science/lecture/LGYQ2/regularization).

**Now it's your turn to write the code!** 

You may use 'Regularization' video as a reference for all further tasks.

First, implement KFold scheme with five folds. Use KFold(5) from sklearn.model_selection. 

1. Split your data in 5 folds with `sklearn.model_selection.KFold` with `shuffle=False` argument.
2. Iterate through folds: use all but the current fold to calculate mean target for each level `item_id`, and  fill the current fold.

    *  See the **Method 1** from the example implementation. In particular learn what `map` and pd.Series.map functions do. They are pretty handy in many situations.

In [24]:
# YOUR CODE GOES HERE
from sklearn import model_selection

skf = model_selection.KFold(5, shuffle=True, random_state=123)

for tr_ind, val_ind in skf.split(all_data.iloc[:,0]):
    X_tr, X_val = all_data.iloc[tr_ind], all_data.iloc[val_ind]
 
    all_data.loc[all_data.index[val_ind], 'item_target_enc'] = X_val['item_id'].map(X_tr.groupby('item_id').target.mean())
   
    
all_data.fillna(0.3343, inplace=True)

# You will need to compute correlation like that
corr = np.corrcoef(all_data['target'].values, encoded_feature)[0][1]
print(corr)
grader.submit_tag('KFold_scheme', corr)

0.480361473315
Current answer for task KFold_scheme is: 0.480361473315

# 2. Leave-one-out scheme

Now, implement leave-one-out scheme. Note that if you just simply set the number of folds to the number of samples and run the code from the **KFold scheme**, you will probably wait for a very long time. 

To implement a faster version, note, that to calculate mean target value using all the objects but one *given object*, you can:

1. Calculate sum of the target values using all the objects.
2. Then subtract the target of the *given object* and divide the resulting value by `n_objects - 1`. 

Note that you do not need to perform `1.` for every object. And `2.` can be implemented without any `for` loop.

It is the most convenient to use `.transform` function as in **Method 2**.

In [26]:
# YOUR CODE GOES HERE

leave_one_out_sum = all_data['item_id'].map(all_data.groupby('item_id').target.sum())
leave_one_out_count = all_data['item_id'].map(all_data.groupby('item_id').target.count())

all_data['item_target_enc'] = ((leave_one_out_sum - all_data['target']))/(leave_one_out_count-1)
all_data['item_target_enc'].fillna(0.3343, inplace=True)                                                
encoded_feature = all_data['item_target_enc'].values

corr = np.corrcoef(all_data['target'].values, encoded_feature)[0][1]
print(corr)
grader.submit_tag('Leave-one-out_scheme', corr)

0.480384831129
Current answer for task Leave-one-out_scheme is: 0.480384831129

# 3. Smoothing

Explained starting at 4:03 of [Regularization video](https://www.coursera.org/learn/competitive-data-science/lecture/LGYQ2/regularization).

Next, implement smoothing scheme with $\alpha = 100$. Use the formula from the first slide in the video and $0.3343$ as `globalmean`. Note that `nrows` is the number of objects that belong to a certain category (not the number of rows in the dataset).

In [ ]:
# YOUR CODE GOES HERE
all_data['item_target_mean'] = all_data.groupby('item_id')['target'].transform('mean')
all_data['item_target_enc_grp'] = all_data['item_target_mean'] * all_data['itemcat_count'] + globalmean * alpha

corr = np.corrcoef(all_data['target'].values, encoded_feature)[0][1]
print(corr)
grader.submit_tag('Smoothing_scheme', corr)

# 4. Expanding mean scheme

Explained starting at 5:50 of [Regularization video](https://www.coursera.org/learn/competitive-data-science/lecture/LGYQ2/regularization).

Finally, implement the *expanding mean* scheme. It is basically already implemented for you in the video, but you can challenge yourself and try to implement it yourself. You will need [`cumsum`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.DataFrameGroupBy.cumsum.html) and [`cumcount`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.GroupBy.cumcount.html) functions from pandas.

In [ ]:
# YOUR CODE GOES HERE

corr = np.corrcoef(all_data['target'].values, encoded_feature)[0][1]
print(corr)
grader.submit_tag('Expanding_mean_scheme', corr)

## Authorization & Submission
To submit assignment parts to Cousera platform, please, enter your e-mail and token into variables below. You can generate token on this programming assignment page. Note: Token expires 30 minutes after generation.

In [ ]:
STUDENT_EMAIL = # EMAIL HERE
STUDENT_TOKEN = # TOKEN HERE
grader.status()

In [ ]:
grader.submit(STUDENT_EMAIL, STUDENT_TOKEN)